.demerits-view {
  height: 100vh;
  width: 100vw;

  .demerit-user {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    h1{
        cursor: pointer;
        user-select: none;
    }
   
   
  }
 
}
.counter-container{

     width: 20%;
    display: flex;
    justify-content: space-between;
    h1{
        cursor: pointer;
    }
}